body {
	background-color: #574d4f;
	background: url("columns.jpg")no-repeat;
	background-size: contain contain;
	background-position: 50% 40%;
}

.content {
	background-color: RGBA(87, 77, 79, 0.6);
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -225px;
	width: 450px;

	color: #f89939;
	font-weight: black;
	font-family: Outage;
    font-size: 18px;
    text-align: center;
}

.logo {
	display: block;
	margin: auto;
	width: 400px;
	height: 400px;
}

.btn-transparent {
	background-color: transparent!important;
	margin: 5px;
	border-style: solid!important;
	border-width: 1px: border-color: white;
	font-family: Outage;
}

.buttons {
	margin-bottom: 10px;
}

.btn-large {
	color: #f89939;
	margin-bottom: 10px;
}

a {
	color: #f89939;
	text-decoration: none;
	font-family: Outage;
}

@font-face {
	font-family: "Outage";
	src: url("Outage.ttf") format("truetype");
}

#signupbutton {
	float: right;
}

label {
	padding-top: 10px;
}

h2 {
	display: inline;
	margin-bottom: 0px;	
}