body {
	font-family: Outage;
	font-size: 18px;
	color: #333132;
	background-color: #FEF8E2;
}

.fill {
	background-color: #574d4f;
	background: url("res/columns.jpg") center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100vh;
}

.content {
	background-color: RGBA(87, 77, 79, 0.6);
    color: #f89939;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    text-align: center;
	left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute; 
}

.logo {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
}

.btn-large {
    color: #f89939;
    margin-bottom: 10px;
}

a {
	color: #333132;
}

@font-face {
    font-family: "Outage";
    src: url("Outage.ttf") format("truetype");
}

#signupbutton {
    float: right;
}

label {
    padding-top: 10px;
}

h2 {
    display: inline;
}

.white {
	background-color: #FEF8E2 !important;
}

.black {
	background-color: #333132!important
}

.bottom {
	text-align: center;
	bottom: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -42%);
}

h1 {
	padding-top: 0px;
}

.banner {
	width: 100%;
	text-align: center;
	background-color: #333132;
	color: #FEF8E2;
}

p {
	font-size: 18;
	font-family: "Source Sans Pro", sans-serif;
	margin-top: 0px;
}

.member img {
	max-width: 80%;
}

.member {
	text-align: center;
}

h6 {
	font-size: 130%;
}

footer {
	background-color: #f89939 !important;
	color: #333132 !important;
}

.footer-copyright {
	color: #333132 !important;
}

.dropdown {
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
}

.dropdown a {
	color: #FEF8E2 !important;
}